﻿body a, body ul, body ul li, body select, body input {
    font-weight:normal !important;
}

/* JQM CSS OVERRIDES */
.ui-focus {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}


